alembic==1.15.2
asyncpg==0.30.0
bcrypt==4.0.1
fastapi==0.115.12
importlib-metadata==8.0.0
jaraco.collections==5.1.0
packaging==24.2
passlib==1.7.4
pip-chill==1.0.3
platformdirs==4.2.2
python-multipart==0.0.20
tomli==2.0.1
uvicorn==0.34.2
